
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background {
  background-image: url("./assets/headspace.jpg");
  //background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  //background-size: cover;
  background-color: #464646;
}