<mat-card *ngIf="commentary">
  <mat-card-subtitle>
    <i>{{ commentary.createdBy }} wrote:</i>
  </mat-card-subtitle>
  <mat-card-content>
    <b>{{ commentary.title }}</b>
    <br />
    {{ commentary.content }}
  </mat-card-content>
  <mat-card-footer fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap=".5rem">
      <span>Actions</span>
    </div>
    <div>
      <i>Last updated @ {{ commentary.lastUpdated | date: "dd/MM/yyyy" }}</i>
      &nbsp;|&nbsp;
      <i>Date created @ {{ commentary.dateCreated | date: "dd/MM/yyyy" }}</i>
    </div>
  </mat-card-footer>
</mat-card>
