<mat-card>
  <mat-card-title> Fanu's Blog </mat-card-title>
  <mat-card-content>
    <ul>
      <li>Hello there, I am Fanu and this is my blog.</li>
      <li>It has been built with .NET 6, Angular 14.</li>
      <li>Register if you'd like to comment the posts and keep a profile.</li>
      <li>
        I am a balanced, dutiful and honest person. I like following best
        practices and building cleanest and logical solutions. Algorithmic mind
        and OOP thinking.
      </li>
    </ul>
    <img src="../../assets/Fanu.jpg" style="width: 40rem;" alt="Fanu picture" />
  </mat-card-content>
</mat-card>