<mat-card *ngIf="post">
  <mat-card-title> {{ post.title }}</mat-card-title>
  <mat-card-content [innerHTML]="post.content"></mat-card-content>
  <mat-card-footer fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <i>Category: {{ post.category }}</i>
    </div>
    <div>
      <i>Last updated @ {{ post.lastUpdated | utcDateToLocal }}</i>
      &nbsp;|&nbsp;
      <i>Date created @ {{ post.dateCreated | utcDateToLocal }}</i>
    </div>
  </mat-card-footer>
</mat-card>

<app-commentary-list *ngIf="post" [postId]="post.id"> </app-commentary-list>