<mat-toolbar color="primary">
  <div class="toolbar-content">
    <div class="menu" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1.5rem">
      <span routerLink="" class="welcome-message">Welcome {{ accountService.currentUserSource?.value?.username }}!</span>
      <div class="menu-buttons" fxLayout="row">
        <button mat-raised-button color="accent" *ngIf="accountService.currentUserSource | async" routerLink="/posts">Posts</button>
      </div>
    </div>
    <div class="login-buttons">
      <button mat-raised-button color="basic" *ngIf="(accountService.currentUserSource | async) === null" routerLink="/login">Login</button>
      <button mat-raised-button color="warn" *ngIf="accountService.currentUserSource | async" (click)="logout()">Logout</button>
      <button mat-raised-button color="accent" *ngIf="(accountService.currentUserSource | async) === null" routerLink="/register">Register</button>
    </div>
  </div>
</mat-toolbar>